version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    # Look for `package.json` and `lock` files in the `root` directory
    directory: "/" # Location of package manifests
    # Check for updates once a week
    schedule:
      interval: "daily"
    commit-message:
      # Prefix all commit messages with "npm"
      prefix: "npm"
    # Allow up to 10 open pull requests for npm dependencies
    open-pull-requests-limit: 100

  # Enable version updates for github-actions
  - package-ecosystem: "github-actions"
    # .github/workflows directory
    directory: "/"
    # Check for updates once a week
    schedule:
      interval: "daily"
    commit-message:
      # Prefix all commit messages with "npm"
      prefix: "github-actions"
